* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; 
}


body {
  background-color: #f7f9fc; 
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 25%; 
  background-color: #38a3a5; 
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #fff; 
}

.sidebar button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  margin-bottom: 20px;
  background-color: #20777a; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.sidebar button:hover {
  background-color: #195f62; 
  transform: scale(1.05);
}

.preview-container {
  flex: 1; 
  padding: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-preview {
  width: 80%; 
  padding: 40px;
  background-color: #f5f5f5; 
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form-preview h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.form-preview p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
}

.form-preview img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.editor-field {
  margin-bottom: 15px;
}

.editor-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333; 
}

.editor-field input,
.editor-field textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc; 
  border-radius: 4px;
}

.editor-field select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar button {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.sidebar button:hover {
  background-color: #195f62;
  transform: scale(1.05);
}

.form-preview {
  transition: all 0.3s ease-in-out;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.styled-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.styled-button:hover {
  background-color: #0056b3; 
  transform: translateY(-2px); 
}

.styled-button:active {
  transform: translateY(1px);
}